@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
.headline1,
.headline2,
.headline3 {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  flex-direction: column;
}

h1 {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: clamp(24px, 4vw, 48px);
  line-height: 120%;
}

h2 {
  font-family: "Jost", sans-serif;
  font-weight: 700;
  font-size: clamp(20px, 3.33vw, 40px);
  line-height: 120%;
}

h3 {
  font-family: "Jost", sans-serif;
  font-weight: 800;
  font-size: clamp(16px, 2.67vw, 32px);
  line-height: 120%;
}

h4 {
  font-family: "Jost", sans-serif;
  font-weight: 700;
  font-size: clamp(16px, 2.33vw, 28px);
  line-height: 120%;
}

h5 {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: clamp(14px, 1.72vw, 22px);
  line-height: 120%;
}

.button {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: clamp(10px, 1.1vw, 22px);
  line-height: 120%;
}

.headline1 {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: clamp(14px, 1.4vw, 18px);
  line-height: 150%;
}

.headline2 {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: clamp(11px, 1.17vw, 16px);
  line-height: 120%;
}

.headline3 {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: clamp(14px, 1.1vw, 14px);
  line-height: 150%;
}

p {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: clamp(10px, 1.1vw, 16px);
  line-height: 120%;
}

.menu-toggle {
  display: none;
}

header .logo {
  display: none;
}
header nav {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 1280px;
  padding: 20px;
  z-index: 100;
}
header nav .logo {
  display: none;
}
header nav ul {
  justify-content: space-between;
}
header nav ul li {
  color: #FFFFFF;
  margin: 0;
  display: inline-flex;
  padding: 8px 32px;
}
header nav ul li.active {
  color: #000000;
  background: #e2e6ee;
  border-radius: 40px;
}
header nav ul a {
  text-decoration: none;
}
header .menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 99;
}
header .menu-overlay.active {
  opacity: 1;
  visibility: visible;
}
header .home {
  position: relative;
  display: flex;
  color: #FFFFFF;
  width: 100%;
  background-size: auto;
  flex-direction: column;
}
header .home img {
  position: absolute;
  width: 100%;
  border-bottom-right-radius: 72px;
  border-bottom-left-radius: 72px;
}
header .home .background {
  height: 110%;
}
header .home .row {
  display: flex;
  flex-direction: row;
  margin: auto 100px;
}
header .home .column1,
header .home .column2 {
  padding-top: 40px;
  position: relative;
  flex: 1 0 50%;
}
header .home .column1 .home-text h1,
header .home .column2 .home-text h1 {
  margin-top: 20px;
  margin-bottom: 40px;
}
header .home .column1 .home-text p,
header .home .column2 .home-text p {
  margin-bottom: 80px;
}
header .home .column1 button,
header .home .column2 button {
  width: 232px;
  height: 54px;
  border-radius: 40px;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  cursor: pointer;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
}
header .home .col-img1 img {
  position: absolute;
  width: 500px;
  right: 0;
  bottom: -100px;
}
header .home .col-img1 img:first-child {
  left: 0;
  top: 0;
  width: 430px;
}
header .home .col-img2 .person {
  display: flex;
  width: 100%;
  height: 50px;
  right: 10px;
  bottom: 10px;
  justify-content: flex-end;
}
header .home .col-img2 .person .person-img {
  position: relative;
  width: 168px;
  z-index: 5;
  border-radius: 0;
  bottom: 0;
}
header .home .col-img2 .person .person-img img {
  width: 100%;
  border-radius: 0;
}
header .home .col-img2 .person p {
  width: 205px;
  margin: 5px 0;
  right: 0;
  bottom: 0;
}

main {
  max-width: 1080px;
  margin: 200px auto;
  text-align: left;
}
main section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 200px;
}
main section:nth-child(even) div {
  background-color: #e2e6ee;
  color: white;
}
main section:nth-child(odd) div {
  background-color: #000000;
  color: white;
}
main section h2 {
  margin: 0;
  margin-bottom: 40px;
}
main section div {
  width: 100%;
  max-width: 100%;
  border-radius: 40px;
  margin-top: 10px;
}
main .how .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 1200px;
  padding: 45px 30px;
}
main .how .left-column {
  background-color: #111;
  border-radius: 40px;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
}
main .how .left-column p {
  margin-top: 80px;
}
main .how .right-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
main .how .block {
  border: 1px solid #E9E9E9;
  border-radius: 20px;
  padding: 20px;
}
main .speakers .wrapper,
main .students .wrapper,
main .cources .wrapper {
  display: flex;
  gap: 2rem;
}
main .speakers .wrapper .left-column,
main .students .wrapper .left-column,
main .cources .wrapper .left-column {
  display: block;
  margin: 50px 0 50px 50px;
  flex: 0 0 30%;
}
main .speakers .wrapper .left-column img#speakerImage,
main .speakers .wrapper .left-column img#studentImage,
main .speakers .wrapper .left-column img#courceImage,
main .students .wrapper .left-column img#speakerImage,
main .students .wrapper .left-column img#studentImage,
main .students .wrapper .left-column img#courceImage,
main .cources .wrapper .left-column img#speakerImage,
main .cources .wrapper .left-column img#studentImage,
main .cources .wrapper .left-column img#courceImage {
  width: 340px;
  height: 480px;
  border-radius: 20px;
  object-fit: cover;
}
main .speakers .wrapper .left-column img#courceImage,
main .students .wrapper .left-column img#courceImage,
main .cources .wrapper .left-column img#courceImage {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
main .speakers .wrapper .right-column,
main .students .wrapper .right-column,
main .cources .wrapper .right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 40px;
}
main .speakers .wrapper .text-block,
main .students .wrapper .text-block,
main .cources .wrapper .text-block {
  border: 1.5px solid #000000;
  border-radius: 16px;
  background-color: #F9FAFC;
  backdrop-filter: blur(44px);
  padding: 70px 30px;
  box-shadow: 6px 9px 0px 0px black, -6px 9px 0px 0px black;
  padding: 1.5rem;
}
main .speakers .wrapper .text-block h2,
main .students .wrapper .text-block h2,
main .cources .wrapper .text-block h2 {
  color: #000000;
  font-size: 2rem;
  margin-bottom: 1rem;
}
main .speakers .wrapper .text-block p,
main .students .wrapper .text-block p,
main .cources .wrapper .text-block p {
  font-size: 1rem;
  color: #555;
}
main .speakers .wrapper .buttons,
main .students .wrapper .buttons,
main .cources .wrapper .buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
main .speakers .wrapper .buttons .tab,
main .students .wrapper .buttons .tab,
main .cources .wrapper .buttons .tab {
  padding: 0.5rem 1rem;
  border: 2px solid black;
  border-radius: 20px;
  background: none;
  cursor: pointer;
  font-size: 1rem;
}
main .speakers .wrapper .buttons .tab.active,
main .students .wrapper .buttons .tab.active,
main .cources .wrapper .buttons .tab.active {
  background: black;
  color: white;
}
main .speakers .wrapper .pagination,
main .students .wrapper .pagination,
main .cources .wrapper .pagination {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
main .speakers .wrapper .pagination button,
main .students .wrapper .pagination button,
main .cources .wrapper .pagination button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
main .speakers .wrapper .pagination #pageNumberSpeakers,
main .speakers .wrapper .pagination #pageNumberStudents,
main .students .wrapper .pagination #pageNumberSpeakers,
main .students .wrapper .pagination #pageNumberStudents,
main .cources .wrapper .pagination #pageNumberSpeakers,
main .cources .wrapper .pagination #pageNumberStudents {
  font-size: 1rem;
  color: #000000;
}
main .learn .wrapper {
  padding: 42px 32px;
  display: flex;
  justify-content: space-around;
}
main .learn .wrapper .left-column {
  flex: 0 0 50%;
  background-color: rgba(56, 56, 56, 0.8);
  border-radius: 40px;
}
main .learn .wrapper .left-column img#learnImage {
  width: 460px;
  height: 320px;
  border-radius: 20px;
  object-fit: cover;
  margin: 20px 25px;
}
main .learn .wrapper .left-column a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46;
  margin: 0 25px 25px 25px;
  border-radius: 40px;
  gap: 29px;
  background-color: #FFFFFF;
  color: #000000;
  padding: 11px 0;
  font-family: Jost;
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0%;
}
main .learn .wrapper .left-column a svg {
  width: 22px;
  height: 22px;
}
main .learn .wrapper .left-column p {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
}
main .learn .wrapper .right-column {
  display: flex;
  flex: 0 0 45%;
  background-color: #FFFFFF;
  border-radius: 40px;
  color: #000000;
  padding: 30px 43px;
  flex-direction: column;
  justify-content: space-between;
}
main .learn .wrapper .right-column p {
  font-family: Jost;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 0%;
}
main .learn .wrapper .right-column .pagination {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-start;
  background-color: transparent;
}
main .learn .wrapper .right-column .pagination button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
main .learn .wrapper .right-column .pagination #pageNumberLearn {
  font-size: 1rem;
  color: #000000;
}
main .career .wrapper1,
main .comunity .wrapper1 {
  display: flex;
}
main .career .wrapper2,
main .comunity .wrapper2 {
  display: none;
}
main .career .wrapper1,
main .career .wrapper2,
main .comunity .wrapper1,
main .comunity .wrapper2 {
  align-items: center;
  position: relative;
  height: 437px;
  overflow: hidden;
}
main .career .wrapper1 .left,
main .career .wrapper2 .left,
main .comunity .wrapper1 .left,
main .comunity .wrapper2 .left {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 0 0 50px;
}
main .career .wrapper1 .left .text,
main .career .wrapper2 .left .text,
main .comunity .wrapper1 .left .text,
main .comunity .wrapper2 .left .text {
  max-width: 100%;
  margin-bottom: 40px;
}
main .career .wrapper1 .left .blockButton button,
main .career .wrapper2 .left .blockButton button,
main .comunity .wrapper1 .left .blockButton button,
main .comunity .wrapper2 .left .blockButton button {
  width: 233;
  height: 33;
  color: #FFFFFF;
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid #FFFFFF;
  padding: 8px 16px;
}
main .career .wrapper1 .left .blockButton button:hover,
main .career .wrapper2 .left .blockButton button:hover,
main .comunity .wrapper1 .left .blockButton button:hover,
main .comunity .wrapper2 .left .blockButton button:hover {
  cursor: pointer;
  background-color: #FFFFFF;
  color: #000000;
}
main .career .wrapper1 .image,
main .career .wrapper2 .image,
main .comunity .wrapper1 .image,
main .comunity .wrapper2 .image {
  position: relative;
  height: 437px;
}
main .career .wrapper1 .image img,
main .career .wrapper2 .image img,
main .comunity .wrapper1 .image img,
main .comunity .wrapper2 .image img {
  position: absolute;
  width: 120%;
  height: 90%;
  right: -65px;
  bottom: 0;
  overflow: hidden;
}
main .career .wrapper2 img,
main .comunity .wrapper2 img {
  position: absolute;
  right: 0;
  bottom: 0;
}
main .comunity .wrapper1 img {
  position: absolute;
  right: 0;
  bottom: 0;
}
main .cources .wrapper .right-column .cource-accord {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .cources .wrapper .right-column .cource-accord .cource-head {
  display: inline-block;
  width: auto;
  max-width: none;
  padding: 5px 15px;
  white-space: nowrap;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: 0%;
  color: #070707;
  height: 30;
  border: 1px solid #070707;
  border-radius: 28px;
  background: #F9FAFC;
  text-align: center;
}
main .cources .wrapper .right-column .cource-accord .pagination {
  width: 370px;
  height: 25px;
  display: flex;
  background: #000000;
  justify-content: space-around;
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 28px;
  border-bottom-left-radius: 28px;
}
main .cources .wrapper .right-column .cource-accord .accordion-container {
  position: relative;
  display: inline-block;
}
main .cources .wrapper .right-column .cource-accord .accordion-btn {
  background: #000;
  color: #fff;
  font-size: 20px;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
main .cources .wrapper .right-column .cource-accord .accordion-content {
  position: absolute;
  left: 0;
  background: transparent;
  border-radius: 10px;
  z-index: 1000;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transform: scaleY(0);
  transform-origin: top;
  transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s;
}
main .cources .wrapper .right-column .cource-accord .accordion-content .text-block {
  margin-top: 0;
  box-shadow: none;
  z-index: 2;
}
main .cources .wrapper .right-column .cource-accord .accordion-content .headline2 {
  color: #000000;
  background: transparent;
}
main .cources .wrapper .right-column .cource-accord .accordion-content .buttons {
  justify-content: flex-start;
  background: transparent;
}
main .cources .wrapper .right-column .cource-accord .accordion-content .buttons button {
  color: #FFFFFF;
  background: #000000;
}
main .cources .wrapper .right-column .cource-accord .accordion-content.show {
  max-height: 500px;
  overflow: auto;
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}
main .cources .wrapper .right-column .cource-accord .accordion-content .close-btn {
  width: 100%;
  height: 45px;
  padding: 10px;
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 40px;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  transition: 0.3s;
  z-index: 1;
}
main .cources .wrapper .right-column .cource-accord .accordion-content .close-btn:hover {
  color: #FFFFFF;
  background: #000;
}
main .cources .wrapper .right-column .cource-accord .accordion-content .divider-line {
  height: 8px;
  background: black;
  margin: 0 auto;
  width: 90%;
  border-radius: 10px;
  position: relative;
}
main .cources .wrapper .right-column .cource-accord .accordion-content .divider-line::before, main .cources .wrapper .right-column .cource-accord .accordion-content .divider-line::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 8px;
  height: 8px;
  background: #FFFFFF;
  z-index: 3;
  border-radius: 50%;
}
main .cources .wrapper .right-column .cource-accord .accordion-content .divider-line::before {
  transform: translateY(-50%) translateX(100%);
}
main .cources .wrapper .right-column .cource-accord .accordion-content .divider-line::after {
  transform: translateY(-50%) translateX(-100%);
}
main .cources .wrapper .right-column .cource-accord .accordion-content .divider-line::before {
  left: -10px;
}
main .cources .wrapper .right-column .cource-accord .accordion-content .divider-line::after {
  right: -10px;
}
main .tariffs {
  margin-bottom: 200px;
}
main .tariffs h2 {
  margin: 0;
  margin-bottom: 40px;
}
main .tariffs .wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
main .tariffs .wrapper .column {
  background: #e2e6ee;
  border-radius: 24px;
  padding: 45px 25px;
  max-width: 390px;
  font-family: "Jost", sans-serif;
  text-align: left;
  color: #070707;
}
main .tariffs .wrapper .column h5 {
  font-family: Jost;
  font-weight: 500;
  font-size: 22px;
  line-height: 26.4px;
  letter-spacing: 0%;
}
main .tariffs .wrapper .column .headline3 {
  display: flex;
  font-family: Jost;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
}
main .tariffs .wrapper .column .price {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 12px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 12px;
}
main .tariffs .wrapper .column .price .col {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
main .tariffs .wrapper .column .price .col:nth-child(even) {
  flex: 0 0 45%;
}
main .tariffs .wrapper .column .price .col .headline3 {
  color: #767678;
}
main .tariffs .wrapper .column .price .col .pr1 {
  font-family: Jost;
  font-weight: 700;
  font-size: 24px;
  line-height: 34.8px;
  letter-spacing: 0%;
  color: #5245DD;
}
main .tariffs .wrapper .column .price .col .pr1 span {
  font-size: 14px;
  font-weight: 400;
  color: #5245DD;
}
main .tariffs .wrapper .column .price .col .tr1 {
  font-family: Jost;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.4px;
  letter-spacing: 0%;
  text-decoration: line-through;
  color: #464648;
}
main .tariffs .wrapper .column .price .col .tr1 span {
  text-decoration: none;
}
main .tariffs .wrapper .column .price .col .row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
}
main .tariffs .wrapper .column .price .col .row .group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
main .tariffs .wrapper .column .price .col .row .pr2 {
  font-family: Noto Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #5245DD;
}
main .tariffs .wrapper .column .price .col .row .pr2 span {
  font-size: 14px;
  font-weight: 400;
  color: #666;
}
main .tariffs .wrapper .column .price .col .row .tr2 {
  font-family: Jost;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.4px;
  letter-spacing: 0%;
  text-decoration: line-through;
  color: #464648;
}
main .tariffs .wrapper .column .price .col .row .tr2 span {
  text-decoration: none;
}
main .tariffs .wrapper .column .price .cost {
  font-family: Noto Sans;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  background: #FFD700;
  color: #070707;
  width: 30;
  height: 18;
  border-radius: 12px;
  gap: 10px;
  padding-right: 4px;
  padding-left: 4px;
}
main .tariffs .wrapper .column .list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 16px;
}
main .tariffs .wrapper .column .list li {
  font-size: 14px;
  margin-bottom: 6px;
  position: relative;
  padding-left: 16px;
}
main .tariffs .wrapper .column .list li:before {
  content: "•";
  color: #2C3E50;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 0;
}
main .tariffs .wrapper .column button {
  width: 100%;
  background: transparent;
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  border: 1px solid #000000;
  border-radius: 40px;
  cursor: pointer;
  transition: background 0.3s;
}
main .tariffs .wrapper .column button:hover {
  color: #FFFFFF;
  background: #000000;
}
main .tariffs .wrapper .column:hover {
  background: linear-gradient(183.23deg, #070707 2.67%, #1D1D1D 97.33%);
  color: #f3f3f6;
  transition: transform 0.5s ease;
  transform: scale(1.05);
}
main .tariffs .wrapper .column:hover .price .col .pr1,
main .tariffs .wrapper .column:hover .price .col .row .pr2 {
  color: #74B7FE;
}
main .tariffs .wrapper .column:hover .price .col .pr1 span,
main .tariffs .wrapper .column:hover .price .col .row .pr2 span {
  color: inherit;
}
main .tariffs .wrapper .column:hover .price .col .tr1,
main .tariffs .wrapper .column:hover .price .col .tr2 {
  color: #e3e3e3;
}
main .tariffs .wrapper .column:hover button {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
main .tariffs .wrapper .column:hover button:hover {
  color: #000000;
  background: #e2e6ee;
}
main .reviews {
  margin-bottom: 200px;
}
main .reviews h2 {
  margin: 0;
  margin-bottom: 40px;
}
main .reviews .carousel-container {
  position: relative;
  width: 100%;
  height: 330px;
  background: black;
  padding: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
main .reviews .carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 170%;
}
main .reviews .testimonial {
  width: 34%;
  flex-shrink: 0;
  color: white;
  text-align: left;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
main .reviews .testimonial .quote {
  font-family: Jost;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 0%;
  margin-bottom: 45px;
}
main .reviews .testimonial h3 {
  font-family: Jost;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0%;
}
main .reviews .testimonial .role {
  font-family: Jost;
  font-weight: 200;
  font-style: italic;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0%;
}
main .reviews .testimonial::before {
  content: "“";
  font-size: 100px;
  color: white;
  display: block;
  margin-right: 15px;
}
main .reviews .testimonial::after {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  width: 2px;
  background-color: white;
  height: 100%;
  margin-left: 15px;
}
main .reviews .prev,
main .reviews .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  z-index: 2;
}
main .reviews .prev {
  left: 15px;
}
main .reviews .next {
  right: 15px;
}
main .reviews .dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}
main .reviews .dot {
  width: 10px;
  height: 10px;
  background-color: grey;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}
main .reviews .dot.active {
  background-color: black;
}
main .contact .wrapper {
  border-radius: 40px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}
main .contact .wrapper .image {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
}
main .contact .contact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  width: 100%;
  gap: 30px;
}
main .contact .contact-info {
  max-width: 50%;
}
main .contact .contact-info h3 {
  font-family: Jost;
  font-weight: 800;
  font-size: 32px;
  line-height: 38.4px;
  letter-spacing: 0%;
  color: #000000;
  margin-bottom: 24px;
}
main .contact .contact-info p {
  font-family: Jost;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: 0%;
  color: #636363;
}
main .contact .contact-info img {
  width: 185px;
}
main .contact .contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 45%;
  flex-grow: 1;
}
main .contact .contact-form input {
  width: 100%;
  padding: 16px 35px;
  border: 1px solid #ccc;
  border-radius: 40px;
  font-size: 18px;
}
main .contact .contact-form .privacy {
  font-family: Jost;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  color: #414141;
}
main .contact .contact-form button {
  padding: 16px;
  background: black;
  color: white;
  font-size: 18px;
  border-radius: 40px;
  cursor: pointer;
  border: none;
  transition: 0.3s;
  z-index: 1;
}
main .contact .contact-form button:hover {
  background: #333;
}
main .contact::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 200px;
}

footer {
  height: 330px;
  background-color: #000000;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  color: #FFFFFF;
  padding: 40px 100px;
}
footer .row {
  display: flex;
  height: 250px;
  justify-content: space-between;
}
footer .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .column:nth-child(1) {
  flex: 0 0 40%;
}
footer .column:nth-child(2), footer .column:nth-child(3) {
  margin-left: 5%;
  flex: 0 0 25%;
}
footer .column .cont p {
  font-family: Jost;
  font-weight: 600;
  font-size: 20px;
  line-height: 28.9px;
  letter-spacing: 0%;
}
footer .column .cont a {
  display: block;
}
footer .column .cont a svg {
  margin-right: 15px;
}
footer .column .cont .email,
footer .column .cont .location {
  display: inline-flex;
}
footer .column .cont .copy {
  display: none;
}
footer .column .licence {
  display: inline-flex;
}
footer .column .licence p {
  margin-right: 32px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0;
  }
  .home {
    text-align: center;
    padding: 0;
  }
  .home .row {
    flex-direction: column;
  }
  .home h1 {
    font-size: 24px;
    line-height: 1.2;
    padding: 0 10px;
  }
  .home .headline1 {
    font-size: 16px;
  }
  .home button {
    width: 100%;
    max-width: 250px;
  }
  .menu-toggle {
    display: block;
    cursor: pointer;
    position: fixed;
    color: #FFFFFF;
    top: 20px;
    right: 20px;
    z-index: 1;
  }
  header .logo {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
  }
  header nav {
    position: fixed;
    left: -100%;
    width: 100%;
    max-width: 50%;
    height: 100vh;
    background: #E4E8F0;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
    padding: 70px 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    transition: left 0.3s ease;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  header nav.active {
    left: 0;
  }
  header nav.active .logo {
    width: 24px;
    height: 18px;
    display: flex;
    font-weight: 700;
  }
  header nav.active ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  header nav.active ul li {
    list-style: none;
    padding-left: 32px;
  }
  header nav.active ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 18px;
  }
  header nav.active ul li.active {
    background: black;
    border-radius: 20px;
    padding: 8px 32px;
    margin: 0;
  }
  header nav.active ul li.active a {
    color: white;
  }
  header nav.active ul li.active a::after {
    width: 20px;
    height: 20px;
    content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMSAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHBzOi8vd3d3Lnd3dy5vcmcvMjAwMC9zdmciPg0KPHJlY3QgeD0iMC41IiB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHJ4PSIxMCIgZmlsbD0id2hpdGUiLz4NCjxjaXJjbGUgY3g9IjEwLjUiIGN5PSIxMCIgcj0iMi41IiBmaWxsPSJibGFjayIvPjwvc3ZnPg==");
    display: inline-block;
  }
  header .home {
    height: 100vh;
    justify-content: space-between;
  }
  header .home h1 {
    padding: 0;
  }
  header .home .background {
    height: 100%;
  }
  header .home .row {
    position: relative;
    flex-direction: column;
    margin: 0;
    padding: 40px;
  }
  header .home .rev {
    display: flex;
    flex-direction: column-reverse;
  }
  header .home .column1,
  header .home .column2 {
    display: flex;
    padding-top: 40px;
    position: relative;
    flex: 1 0 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  header .home .column1 .home-text h1,
  header .home .column2 .home-text h1 {
    font-size: 24px;
    line-height: 1.2;
    margin: 0 0 10px 0;
  }
  header .home .column1 .home-text p,
  header .home .column2 .home-text p {
    font-family: Jost;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
  }
  header .home .column2 {
    padding-top: 20px;
  }
  header .home .col-img1 {
    display: flex;
    padding: 0;
    margin: 0;
    width: 300px;
  }
  header .home .col-img1 img {
    width: 200px;
    top: 25%;
  }
  header .home .col-img2 {
    justify-content: flex-end;
  }
  header .home .col-img2 .person {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрує все горизонтально */
    justify-content: center; /* Центрує все вертикально */
    height: 100%; /* Або конкретна висота, якщо потрібно */
  }
  header .home .col-img2 .person .person-img {
    width: 90px;
    left: -41px;
    margin-bottom: 30px; /* Невеликий відступ між зображенням і текстом */
  }
  header .home .col-img2 .person p {
    text-align: center; /* Центрує текст */
    margin: 0;
  }
  .menu-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
  }
  main {
    margin: 80px auto;
    padding: 0 20px;
  }
  main section {
    margin-bottom: 80px;
  }
  main .how .grid {
    position: relative;
    grid-template-columns: 1fr;
    flex-direction: column;
    gap: 20px;
  }
  main .how .grid .left-column {
    width: 100%;
    padding: 30px 17px;
  }
  main .how .grid .left-column h2 {
    margin-bottom: 8px;
    font-size: 20px;
  }
  main .how .grid .left-column p {
    margin-top: 10px;
    font-size: 11px;
  }
  main .how .grid .block {
    border: 1px solid #E9E9E9;
    border-radius: 20px;
    padding: 22px 9px 22px 12px;
  }
  main .speakers .wrapper,
  main .students .wrapper,
  main .cources .wrapper {
    flex-direction: column;
    text-align: center;
    gap: 0;
  }
  main .speakers .wrapper .left-column,
  main .students .wrapper .left-column,
  main .cources .wrapper .left-column {
    margin: 0;
    padding: 40px 20px 10px 20px;
  }
  main .speakers .wrapper .left-column img#speakerImage,
  main .speakers .wrapper .left-column img#studentImage,
  main .speakers .wrapper .left-column img#courceImage,
  main .students .wrapper .left-column img#speakerImage,
  main .students .wrapper .left-column img#studentImage,
  main .students .wrapper .left-column img#courceImage,
  main .cources .wrapper .left-column img#speakerImage,
  main .cources .wrapper .left-column img#studentImage,
  main .cources .wrapper .left-column img#courceImage {
    border-radius: 20px;
  }
  main .speakers .wrapper .right-column,
  main .students .wrapper .right-column,
  main .cources .wrapper .right-column {
    margin: 0;
    padding: 0 24px 40px 24px;
  }
  main .speakers .wrapper .right-column .text-block,
  main .students .wrapper .right-column .text-block,
  main .cources .wrapper .right-column .text-block {
    padding: 40px 36px;
    text-align: left;
    box-shadow: 4px 4px 0px 0px black, -4px 4px 0px 0px black;
  }
  main .speakers .wrapper .right-column .text-block h2,
  main .students .wrapper .right-column .text-block h2,
  main .cources .wrapper .right-column .text-block h2 {
    font-size: 14px;
  }
  main .speakers .wrapper .right-column .text-block p,
  main .students .wrapper .right-column .text-block p,
  main .cources .wrapper .right-column .text-block p {
    font-size: 10px;
  }
  main .speakers .wrapper .right-column .cource-accord .cource-head,
  main .students .wrapper .right-column .cource-accord .cource-head,
  main .cources .wrapper .right-column .cource-accord .cource-head {
    font-size: 12px;
  }
  main .speakers .wrapper .right-column .cource-accord .pagination,
  main .students .wrapper .right-column .cource-accord .pagination,
  main .cources .wrapper .right-column .cource-accord .pagination {
    width: 80%;
    height: 25px;
    padding: 0 10px;
    display: flex;
    background: #000000;
    justify-content: space-around;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 28px;
    border-bottom-left-radius: 28px;
  }
  main .speakers .wrapper .right-column .cource-accord .accordion-container,
  main .students .wrapper .right-column .cource-accord .accordion-container,
  main .cources .wrapper .right-column .cource-accord .accordion-container {
    margin: 0;
  }
  main .speakers .wrapper .right-column .cource-accord .accordion-content,
  main .students .wrapper .right-column .cource-accord .accordion-content,
  main .cources .wrapper .right-column .cource-accord .accordion-content {
    margin: 0;
  }
  main .speakers .wrapper .right-column .cource-accord .accordion-content .buttons,
  main .students .wrapper .right-column .cource-accord .accordion-content .buttons,
  main .cources .wrapper .right-column .cource-accord .accordion-content .buttons {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  main .speakers .wrapper .right-column .cource-accord .accordion-content .buttons button,
  main .students .wrapper .right-column .cource-accord .accordion-content .buttons button,
  main .cources .wrapper .right-column .cource-accord .accordion-content .buttons button {
    margin: 0;
    font-size: 8px;
  }
  main .speakers .wrapper .right-column .cource-accord .accordion-content .text-block,
  main .students .wrapper .right-column .cource-accord .accordion-content .text-block,
  main .cources .wrapper .right-column .cource-accord .accordion-content .text-block {
    padding: 22px 11px;
  }
  main .speakers .wrapper .right-column .buttons,
  main .students .wrapper .right-column .buttons,
  main .cources .wrapper .right-column .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
    gap: 2px;
  }
  main .speakers .wrapper .right-column .buttons .tab,
  main .students .wrapper .right-column .buttons .tab,
  main .cources .wrapper .right-column .buttons .tab {
    margin-top: 12px;
    padding: 6px 10px;
    font-size: 10px;
  }
  main .learn .wrapper {
    flex-direction: column;
  }
  main .learn .wrapper .left-column {
    margin: 0;
    padding: 0;
    background: none;
  }
  main .learn .wrapper .left-column img#learnImage {
    background-color: rgba(96, 96, 96, 0.8);
    padding: 15px 11px;
    margin: 0 0 16px 0;
    width: 100%;
    height: 100%;
  }
  main .learn .wrapper .left-column a {
    background-color: #414141;
    color: #FFFFFF;
    font-size: 12px;
    padding: 7px 0;
    margin: 0;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    width: 100%;
  }
  main .learn .wrapper .left-column a svg {
    width: 13px;
    height: 13px;
  }
  main .learn .wrapper .left-column p {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
  }
  main .learn .wrapper .right-column {
    padding: 20px;
  }
  main .learn .wrapper .right-column h3 {
    margin-bottom: 10px;
  }
  main .learn .wrapper .right-column p {
    font-size: 12px;
  }
  main .learn .wrapper .right-column .pagination {
    justify-content: center;
  }
  main .career .wrapper1,
  main .career .wrapper2,
  main .comunity .wrapper1,
  main .comunity .wrapper2 {
    flex-direction: column;
    text-align: center;
    padding: 32px 16px;
  }
  main .career .wrapper1 .left,
  main .career .wrapper2 .left,
  main .comunity .wrapper1 .left,
  main .comunity .wrapper2 .left {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 0;
  }
  main .career .wrapper1 .left .text,
  main .career .wrapper2 .left .text,
  main .comunity .wrapper1 .left .text,
  main .comunity .wrapper2 .left .text {
    max-width: 100%;
  }
  main .career .wrapper1 .left .text h3,
  main .career .wrapper2 .left .text h3,
  main .comunity .wrapper1 .left .text h3,
  main .comunity .wrapper2 .left .text h3 {
    display: none;
  }
  main .career .wrapper1 .left .blockButton,
  main .career .wrapper2 .left .blockButton,
  main .comunity .wrapper1 .left .blockButton,
  main .comunity .wrapper2 .left .blockButton {
    width: 110%;
  }
  main .career .wrapper1 .left .blockButton button,
  main .career .wrapper2 .left .blockButton button,
  main .comunity .wrapper1 .left .blockButton button,
  main .comunity .wrapper2 .left .blockButton button {
    font-size: 10px;
    padding: 6px 6px;
  }
  main .career .wrapper1 .image,
  main .career .wrapper2 .image,
  main .comunity .wrapper1 .image,
  main .comunity .wrapper2 .image {
    position: absolute;
    width: 220px;
    height: 180px;
    overflow: hidden;
    top: 25%;
    border-radius: 0;
  }
  main .career .wrapper1 .image img,
  main .career .wrapper2 .image img,
  main .comunity .wrapper1 .image img,
  main .comunity .wrapper2 .image img {
    position: absolute;
    width: 110%;
    height: 110%;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  main .tariffs {
    overflow: hidden;
    position: relative;
    padding: 20px 0;
  }
  main .tariffs .wrapper {
    display: flex;
    transition: transform 0.5s ease;
  }
  main .tariffs .column {
    min-width: 80%;
    margin: 0 10px;
  }
  main .tariffs .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
  }
  main .tariffs .carousel-btn .prev {
    left: 10px;
  }
  main .tariffs .carousel-btn .next {
    right: 10px;
  }
  main .carousel {
    width: 100%;
  }
  main .carousel .testimonial {
    width: 100%;
  }
  main .carousel .testimonial .testimonial-content .quote {
    width: 50%;
  }
  main .carousel .testimonial::before {
    display: none;
  }
  main .carousel .testimonial::after {
    display: none;
  }
  main .contact .wrapper {
    text-align: center;
  }
  main .contact .wrapper .contact-content {
    flex-direction: column;
    padding: 47px 38px;
    text-align: left;
  }
  main .contact .wrapper .contact-content .contact-info,
  main .contact .wrapper .contact-content .contact-form {
    max-width: 100%;
  }
  main .contact .wrapper .contact-content .contact-info p,
  main .contact .wrapper .contact-content .contact-form p {
    font-size: 12px;
  }
  main .contact .wrapper .contact-content .contact-info h3 {
    font-family: Jost;
    font-weight: 800;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0%;
  }
  main .contact .wrapper .contact-content .contact-info img {
    display: none;
  }
  main .contact .wrapper .contact-content .contact-form input {
    font-family: Jost;
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
  }
  main .contact .image {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  footer {
    padding: 36px;
  }
  footer .row {
    flex-direction: column;
    align-items: flex-start;
  }
  footer .row .column {
    margin: 0;
    justify-content: flex-start;
  }
  footer .row .column .cont p {
    font-size: 16px;
  }
  footer .row .column .cont .email,
  footer .row .column .cont .location {
    font-size: 12px;
  }
  footer .row .column .cont .copy {
    font-size: 14px;
  }
  footer .row .column .licence {
    font-size: 14px;
  }
  footer .row .first p {
    font-size: 12px;
    width: 70%;
    height: 32px;
    margin-top: 28px;
    overflow: hidden;
  }
  footer .row .first .created {
    display: none;
  }
  footer .row .second {
    display: none;
  }
  footer .row .third {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  footer .row .third .licence {
    flex-direction: column;
  }
  footer .row .third .licence p {
    margin-top: 5px;
  }
  footer .row .third .cont {
    display: flex;
    flex: 1 0 50%;
    flex-direction: column;
  }
  footer .row .third .cont p {
    margin-bottom: 10px;
  }
  footer .row .third .copy {
    display: block;
    margin-top: 10px;
  }
  footer .row .footer-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }
  footer .row .footer-links a {
    margin-bottom: 0;
  }
  footer .row .footer-bottom {
    text-align: left;
    margin-top: 30px;
  }
}
@media (max-width: 320px) {
  footer {
    padding: 20px;
  }
  footer .logo-and-text p,
  footer .contact-info p,
  footer .footer-links a,
  footer .footer-bottom {
    font-size: 12px;
  }
  footer .contact-info h3 {
    font-size: 16px;
  }
  footer .footer-links {
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
  }
}

/*# sourceMappingURL=style.css.map */
